{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}gmiterDev{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.svg' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
    }
        .font-alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}bg-gray-100{% endblock %} font-roboto-condensed h-screen flex flex-col">

    {% block header %}
    <header class="ud-header">
        <a href="{% url 'main' %}" class="ud-logo">
            <span>gmiter</span><span class="ud-sw"><span class="ud-soul"></span></span><span>dev</span>
        </a>
    </header>
    {% endblock %}

    <!-- Main content -->
    <main class="container mx-auto flex-grow">
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </main>

    {% block footer %}
    <footer class="ud-footer">
        <div class="ud-save"><span class="ud-star">✶</span> <a href="mailto:gmtrkk@gmail.com">gmtrkk@gmail.com</a></div>
        <div class="ud-copy">© 2026 jakub gmiterek</div>
    </footer>
    {% endblock %}

</body>
</html>